.formulario-contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contato button {
    width: 200px;
    padding: 12px;
    background-color: #d40000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.contato button:hover {
    background-color: #b00000;
}

body{
    font-family: 'Inter', sans-serif;
}